$mtiblue: #4A6080;
$mtiltblue: #8BA5CC;
$mtiteal: #4A888D;
$mtipurple: #925097;
$white: #FFFFFF;
$black: #000000;
$neutral1000: #4a4a4a;
$neutral900: #464547;
$neutral700: #918F93;
$neutral500: #D0CDD3;
$neutral100: #EDEDED;
$neutral0: #EEEEEE;
$error: #B31414;
$positive: #50976B;
$overlay: rgba($black, 0.85);
$tagblue: #8BA5CC;
$taggreen: #50976B;
$drkblugry: #84898F;

// fonts
$Oswald: 'Oswald', sans-serif;
$SourceSans: 'Source Sans Pro', sans-serif;

// Grid System
$mobile: 499px;
$tablet: 768px;
$desktop: 1024px;
$navbreakbig: 790px;
$navbreaksmall: 545px;
